body{
    background-color:#ff0000;
    margin:5 5;
}
table{
    position:relative;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table.out-table tr:hover td {
    background-color:#bbbbbb;
}
table.out-table{
    background-color:#939393;
    box-shadow: 10px 10px #ae8a80;
}
h4 {
    margin: 0;
    padding: 0;
}
[occupation="teacher"]{
    background-color: #888888;
}
.output{
    width:680px;
    height:100px;
    float:below;
}
div.pre-auth{
    text-align:center;
    margin: 0 auto; 
}
div.pre-auth-text{
    font-family:"Verdana", sans-serif;
    color:#ffffff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
div.post-auth{
    background-color:#ff0000;
    font-family:"Verdana", sans-serif;
    width:700px;
    margin: 0 auto;
}
button.authorize {
    background-color: white; /* Green */
    border: none;
    justify-content: center;
    width:200px;
    height:50px;
    font-size:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
} 
button.authorize:hover{
    background-color:#999999;
    color:white;
}
[name="teachers"]{
    display:inline;
}
.sort-control{
    display: inline-block;
    width: 340px;
    height: 200px;
    margin-right:0px;
    padding-left:5px;
    text-align: left;
    vertical-align: top;
    background: black;
    color:white;
    font-size:14px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    float:left;
}
.sort-control h2{
    margin-top:5px;
}
.sort{
    font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}
.sort input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #999999;
}

.radios .control__indicator {
    border-radius: 50%;
}
/* Hover and focus states */
.sort:hover input ~ .control__indicator,
.sort input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state */
.sort input:checked ~ .control__indicator {
    background: red;
}

/* Hover state whilst checked */
.sort:hover input:not([disabled]):checked ~ .control__indicator,
.sort input:checked:focus ~ .control__indicator {
    background: red;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.sort input:checked ~ .control__indicator:after {
    display: block;
}

/* Radio button inner circle */
.radios .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.radios input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.search-buttons input[type="text"] {
    display: inline;
    width: 340px;
    height: 100px;
    margin-bottom:0px;
    margin-left:0px;
    padding-left:10px;
    text-align: left;
    vertical-align: top;
    background: #888888;
    color:black;
    font-size:14px;
    border:0px;
    text-align-last: center;
    font-size:20px;
}
.include-teachers {
    position:relative;
    display: inline-block;
    width: 340px;
    height: 100px;
    margin-top:0px;
    margin-bottom:10px;
    top:0px;
    text-align:center;
    vertical-align:bottom; 
    display:table-cell;
    background: white;
    color:black;
    font-size:20px;
    float:bottom;
    clear:below;
}
.include input {
    z-index: -1;
    opacity: 0;
}
.include-checkbox {
    width:55px;
    height:55px;
    margin:0 auto;
    background:black;
    content:X;
    color:white;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
.include-checkbox:hover {
    cursor:pointer;
    background:#555555;
}
.include input:checked ~ .include-checkbox {
    /*border-radius:30px;*/
    transform: rotate(360deg);
    background:red;
    border-radius:30px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    black;
}
.floaters label {
    width:100px;
    height:40px;
    position:fixed;
    float:right;
    left:700px;;
    text-align:center;
    font-family:"Verdana", sans-serif;
}
.back {
    position:relative;
    top:45px;
    background: white;
    color: black;
    cursor: pointer;
}
.post-authorized {
    background:black;
    color:white;
}

@media print {
    body * {
        visibility: hidden;
        background:white;
    }
    body {
        background:white;
    }
    .output * {
        visibility: visible;
    }
    .output{
        position: absolute;
        left: 0;
        top: 0;
    }
    table.out-table{
        box-shadow:none;
    }
}
